#title {
  background-color: #aacfcf;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-weight: bold;
}

.nav-container {
  padding: 3% 10%;
}

.nav-link {
  margin: 0 18px;
}

.navbar {
  padding:0 10px;
}

.title-text-image{
  margin-top: 80px ;
}

.navbar-brand {
  font-size: 1.5rem;
}

.frame {
  position: relative;
  right: 20px;
}


#members {
  text-align: center;
  margin: 60px 0;
}

#gallery {
  padding: 7% 15%;
  text-align: center;
  background-color: #d291bc;
}

.gallery-photos {
  width: 60%;
  border-radius: 10% ;
}

/* .pads {
  margin-top: 20px;
} */

#contact {
  padding: 7% 15% ;
  text-align: center;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }
